@page "/gradoacademicos/details"
@using Microsoft.EntityFrameworkCore
@using TareaFinal.Modelos
@inject IDbContextFactory<TareaFinal.Modelos.AppDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Información Grado Académico</PageTitle>
<h2 class="centrar"><b>Detalles Grado Académico</b></h2>

<div>
    <hr />
    @if (gradoacademico is null)
    {
        <p><em>Cargando...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Nombre</dt>
            <dd class="col-sm-10">@gradoacademico.Nombre</dd>
            
        </dl>
        <div>
            <a href="@($"/gradoacademicos/edit?id={gradoacademico.Id}")" class="btn btn-primary">Editar</a> |
            <a href="@($"/gradoacademicos")" class="btn btn-primary">Volver al Listado</a>
        </div>
    }
</div>

@code {
    private GradoAcademico? gradoacademico;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        gradoacademico = await context.GradoAcademico.FirstOrDefaultAsync(m => m.Id == Id && m.Inactivo == false);
        gradoacademico.Inactivo = true;
        context.Attach(gradoacademico!).State = EntityState.Modified;

        if (gradoacademico is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
