@page "/gradoacademicos"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using TareaFinal.Modelos
@implements IAsyncDisposable
@inject IDbContextFactory<TareaFinal.Modelos.AppDbContext> DbFactory
@rendermode InteractiveServer


<PageTitle>Listado de Grados Académicos</PageTitle>
<h2 class="centrar"><b>Listado de Grados Académicos</b></h2>

<p>
    <a class="btn btn-warning" href="gradoacademicos/create">
        <i class="fa-solid fa-plus"> </i>
        Crear Grado Académico
    </a>
</p>

<QuickGrid Class="table" Items="context.GradoAcademico.Where(m => m.Inactivo == false)" Pagination="pagination">
    <PropertyColumn Property="gradoacademico => gradoacademico.Nombre" />
    @*<PropertyColumn Property="gradoacademico => gradoacademico.Inactivo" />*@

    <TemplateColumn Context="gradoacademico">
        <a href="@($"gradoacademicos/edit?id={gradoacademico.Id}")">Editar</a> |
        <a href="@($"gradoacademicos/details?id={gradoacademico.Id}")">Detalles</a> |
        <a href="@($"gradoacademicos/delete?id={gradoacademico.Id}")">Eliminar</a>
    </TemplateColumn>
</QuickGrid>
<Paginator State="pagination" />


@code {
    private AppDbContext context = default!;

    private PaginationState pagination = new PaginationState { ItemsPerPage = 10 };

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
