@page "/carreras/delete"
@using Microsoft.EntityFrameworkCore
@using TareaFinal.Modelos
@inject IDbContextFactory<TareaFinal.Modelos.AppDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Eliminar</PageTitle>
<h2 class="centrar"><b>¿Está seguro que desea eliminar esta información?</b></h2>

<div>
    <hr />
    @if (carrera is null)
    {
        <p><em>Cargando...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Nombre</dt>
            <dd class="col-sm-10">@carrera.Nombre</dd>
        </dl>
        
        <EditForm method="post" Model="carrera" OnValidSubmit="DeleteCarrera" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(carrera is null)">Eliminar</button> |
            <a href="/carreras" class="btn btn-primary">Volver al Listado</a>
        </EditForm>
    }
</div>

@code {
    private Carrera? carrera;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        carrera = await context.Carrera.FirstOrDefaultAsync(m => m.Id == Id && m.Inactivo == false);

        if (carrera is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeleteCarrera()
    {
        using var context = DbFactory.CreateDbContext();
        try
        {
            if (carrera is not null)
            {
                carrera.Inactivo = true;
                context.Attach(carrera!).State = EntityState.Modified;
            }
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (carrera is null)
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }
        
        NavigationManager.NavigateTo("/carreras");
    }
}
