@page "/estudiantes"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using TareaFinal.Modelos
@implements IAsyncDisposable
@inject IDbContextFactory<TareaFinal.Modelos.AppDbContext> DbFactory
@rendermode InteractiveServer


<PageTitle>Listado de Estudiantes</PageTitle>
<h2 class="centrar"><b>Listado de Estudiantes</b></h2>


<p>
    <a class="btn btn-warning" href="estudiantes/create">
        <i class="fa-solid fa-plus"> </i>
        Crear Estudiante
    </a>
</p>

<QuickGrid Class="table" Items="context.Estudiante.Where(m => m.Inactivo == false)" Pagination="pagination">
    <PropertyColumn Property="estudiante => estudiante.Matricula" Title="Matrícula" Sortable="true" />
    <PropertyColumn Property="estudiante => estudiante.FechaIngreso" Title="Fecha ingreso" Sortable="true" />
    <PropertyColumn Property="estudiante => estudiante.Nombre" Title="Nombre" Sortable="true" />
    <PropertyColumn Property="estudiante => estudiante.Apellido" Title="Apellido" Sortable="true" />
    <PropertyColumn Property="estudiante => estudiante.Carrera" Title="Carrera" Sortable="true" />

    @*<PropertyColumn Property="estudiante => estudiante.Cedula" Title="Cédula" Sortable="true" />
    <PropertyColumn Property="estudiante => estudiante.FechaNacimiento" />
    <PropertyColumn Property="estudiante => estudiante.Sexo" />
    <PropertyColumn Property="estudiante => estudiante.EstadoCivil" />
    <PropertyColumn Property="estudiante => estudiante.Ocupacion" />
    <PropertyColumn Property="estudiante => estudiante.TipoSangre" />
    <PropertyColumn Property="estudiante => estudiante.Nacionalidad" />
    <PropertyColumn Property="estudiante => estudiante.Religion" />
    <PropertyColumn Property="estudiante => estudiante.Email" />
    <PropertyColumn Property="estudiante => estudiante.NombrePadre" />
    <PropertyColumn Property="estudiante => estudiante.NombreMadre" />
    <PropertyColumn Property="estudiante => estudiante.Direccion" />
    <PropertyColumn Property="estudiante => estudiante.TipoColegioEstudio" />
    <PropertyColumn Property="estudiante => estudiante.Observaciones" />
    <PropertyColumn Property="estudiante => estudiante.Inactivo" Title="Inactivo"Sortable="true" />*@

    <TemplateColumn Context="estudiante">
        <a href="@($"estudiantes/edit?id={estudiante.Id}")">
            <i class="fa-solid fa-pen-to-square"></i>
        </a> |
        <a href="@($"estudiantes/details?id={estudiante.Id}")">
            <i class="fa-solid fa-circle-info"></i>
        </a> |
        <a href="@($"estudiantes/delete?id={estudiante.Id}")">
            <i class="fa-solid fa-trash" style="color:red"></i>
        </a>
        
    </TemplateColumn>
</QuickGrid>
<Paginator State="pagination" />

@code {
    private AppDbContext context = default!;

    private PaginationState pagination = new PaginationState { ItemsPerPage = 10 };

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
