<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Proyecto Final</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-2">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Inicio
            </NavLink>
        </div>

        <div class="nav-item px-2">
            <NavLink class="nav-link" href="/estudiantes">
                <i class="fas fa-user-edit"></i>&nbsp; Estudiante
            </NavLink>
        </div>

        <div class="nav-item px-2">
            <NavLink class="nav-link" href="/profesors">
                <i class="fa-solid fa-pencil"></i>&nbsp; Profesor
            </NavLink>
        </div>

        <div class="nav-item px-2">
            <NavLink class="nav-link" href="/empleados">
                <i class="fas fa-user"></i>&nbsp; Empleado
            </NavLink>
        </div>

        <div class="nav-item px-2">
            <NavLink class="nav-link" href="/gradoacademicos">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span>&nbsp; Grado Académico
            </NavLink>
        </div>

        <div class="nav-item px-2">
            <NavLink class="nav-link" href="/ocupacions">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span>&nbsp; Ocupación
            </NavLink>
        </div>

        <div class="nav-item px-2">
            <NavLink class="nav-link" href="/nacionalidads">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span>&nbsp; Nacionalidad
            </NavLink>
        </div>

        <div class="nav-item px-2">
            <NavLink class="nav-link" href="/religions">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span>&nbsp; Religión
            </NavLink>
        </div>

        <div class="nav-item px-2">
            <NavLink class="nav-link" href="/carreras">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span>&nbsp; Carrera
            </NavLink>
        </div>

        <div class="nav-item px-2">
            <NavLink class="nav-link" href="/facultads">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span>&nbsp; Facultad
            </NavLink>
        </div>

        <div class="nav-item px-2">
            <NavLink class="nav-link" href="/departamentos">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span>&nbsp; Departamento
            </NavLink>
        </div>  

        <div class="nav-item px-2">
            <NavLink class="nav-link" href="/afps">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span>&nbsp; AFP
            </NavLink>
        </div>

        <div class="nav-item px-2">
            <NavLink class="nav-link" href="/ars">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span>&nbsp; ARS
            </NavLink>
        </div>

        @*<div class="nav-item px-2">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>*@

        @*<div class="nav-item px-2">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>*@
  
    </nav>
</div>

