@page "/facultads"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using TareaFinal.Modelos
@implements IAsyncDisposable
@inject IDbContextFactory<TareaFinal.Modelos.AppDbContext> DbFactory
@rendermode InteractiveServer


<PageTitle>Listado de Facultades</PageTitle>
<h2 class="centrar"><b>Listado de Facultades</b></h2>

<p>
    <a class="btn btn-warning" href="facultads/create">
        <i class="fa-solid fa-plus"> </i>
        Crear Facultad
    </a>
</p>

<QuickGrid Class="table" Items="context.Facultad.Where(m => m.Inactivo == false)" Pagination="pagination">
    <PropertyColumn Property="facultad => facultad.Nombre" />
    @*<PropertyColumn Property="facultad => facultad.Inactivo" />*@

    <TemplateColumn Context="facultad">
        <a href="@($"facultads/edit?id={facultad.Id}")">Editar</a> |
        <a href="@($"facultads/details?id={facultad.Id}")">Detalles</a> |
        <a href="@($"facultads/delete?id={facultad.Id}")">Eliminar</a>
    </TemplateColumn>
</QuickGrid>
<Paginator State="pagination" />

@code {
    private AppDbContext context = default!;

    private PaginationState pagination = new PaginationState { ItemsPerPage = 10 };

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
