@page "/departamentos"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using TareaFinal.Modelos
@implements IAsyncDisposable
@inject IDbContextFactory<TareaFinal.Modelos.AppDbContext> DbFactory
@rendermode InteractiveServer


<PageTitle>Listado de Departamentos</PageTitle>
<h2 class="centrar"><b>Listado de Departamentoss</b></h2>

<p>
    <a class="btn btn-warning" href="departamentos/create">
        <i class="fa-solid fa-plus"> </i>
        Crear Departamento
    </a>
</p>

<QuickGrid Class="table" Items="context.Departamento.Where(m => m.Inactivo == false)" Pagination="pagination">
    <PropertyColumn Property="departamento => departamento.Nombre" />
    @*<PropertyColumn Property="departamento => departamento.Inactivo" />*@

    <TemplateColumn Context="departamento">
        <a href="@($"departamentos/edit?id={departamento.Id}")">Editar</a> |
        <a href="@($"departamentos/details?id={departamento.Id}")">Detalles</a> |
        <a href="@($"departamentos/delete?id={departamento.Id}")">Eliminar</a>
    </TemplateColumn>
</QuickGrid>
<Paginator State="pagination" />

@code {
    private AppDbContext context = default!;

    private PaginationState pagination = new PaginationState { ItemsPerPage = 10 };

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
