@page "/afps"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using TareaFinal.Modelos

@inject IDbContextFactory<TareaFinal.Modelos.AppDbContext> DbFactory
@rendermode InteractiveServer




<PageTitle>Listado de AFPs</PageTitle>
<h2 class="centrar"><b>Listado de AFPs</b></h2>


<p>
    <a class="btn btn-warning" href="afps/create">
        <i class="fa-solid fa-plus"> </i>
        Crear AFP
    </a>
</p>

<QuickGrid Class="table" Items="context.AFP.Where(m => m.Inactivo == false)" Pagination="pagination">
    <PropertyColumn Property="afp => afp.Nombre" />
    @*
    <PropertyColumn Property="afp => afp.Inactivo" />
   *@

    <TemplateColumn Context="afp">
        <a href="@($"afps/edit?id={afp.Id}")">Editar</a> |
        <a href="@($"afps/details?id={afp.Id}")">Detalles</a> |
        <a href="@($"afps/delete?id={afp.Id}")">Eliminar</a>
    </TemplateColumn>
</QuickGrid>
<Paginator State="pagination" />

@code {
    private AppDbContext context = default!;

    private PaginationState pagination = new PaginationState { ItemsPerPage = 10 };

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
