@page "/religions"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using TareaFinal.Modelos
@implements IAsyncDisposable
@inject IDbContextFactory<TareaFinal.Modelos.AppDbContext> DbFactory
@rendermode InteractiveServer


<PageTitle>Listado de Religiones</PageTitle>
<h2 class="centrar"><b>Listado de Religiones</b></h2>

<p>
    <a class="btn btn-warning" href="religions/create">
        <i class="fa-solid fa-plus"> </i>
        Crear Religión
    </a>
</p>

<QuickGrid Class="table" Items="context.Religion.Where(m => m.Inactivo == false)" Pagination="pagination">
    <PropertyColumn Property="religion => religion.Nombre" />
    @*<PropertyColumn Property="religion => religion.Inactivo" />*@

    <TemplateColumn Context="religion">
        <a href="@($"religions/edit?id={religion.Id}")">Editar</a> |
        <a href="@($"religions/details?id={religion.Id}")">Detalles</a> |
        <a href="@($"religions/delete?id={religion.Id}")">Eliminar</a>
    </TemplateColumn>
</QuickGrid>
<Paginator State="pagination" />


@code {
    private AppDbContext context = default!;

    private PaginationState pagination = new PaginationState { ItemsPerPage = 10 };

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
