@page "/nacionalidads/details"
@using Microsoft.EntityFrameworkCore
@using TareaFinal.Modelos
@inject IDbContextFactory<TareaFinal.Modelos.AppDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Información Nacionalidad</PageTitle>
<h2 class="centrar"><b>Detalles Nacionalidad</b></h2>


<div>
    <hr />
    @if (nacionalidad is null)
    {
        <p><em>Cargando...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Nombre</dt>
            <dd class="col-sm-10">@nacionalidad.Nombre</dd>
            
        </dl>
        <div>
            <a href="@($"/nacionalidads/edit?id={nacionalidad.Id}")" class="btn btn-primary">Editar</a> |
            <a href="@($"/nacionalidads")" class="btn btn-primary">Volver al Listado</a>
        </div>
    }
</div>

@code {
    private Nacionalidad? nacionalidad;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        nacionalidad = await context.Nacionalidad.FirstOrDefaultAsync(m => m.Id == Id && m.Inactivo == false);
        nacionalidad.Inactivo = true;
        context.Attach(nacionalidad!).State = EntityState.Modified;

        if (nacionalidad is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
