@page "/nacionalidads"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using TareaFinal.Modelos
@implements IAsyncDisposable
@inject IDbContextFactory<TareaFinal.Modelos.AppDbContext> DbFactory
@rendermode InteractiveServer


<PageTitle>Listado de Nacionalidades</PageTitle>
<h2 class="centrar"><b>Listado de Nacionalidades</b></h2>

<p>
    <a class="btn btn-warning" href="nacionalidads/create">
        <i class="fa-solid fa-plus"> </i>
        Crear Nacionalidades
    </a>
</p>

<QuickGrid Class="table" Items="context.Nacionalidad.Where(m => m.Inactivo == false)" Pagination="pagination">
    <PropertyColumn Property="nacionalidad => nacionalidad.Nombre" />
    @*<PropertyColumn Property="nacionalidad => nacionalidad.Inactivo" />*@

    <TemplateColumn Context="nacionalidad">
        <a href="@($"nacionalidads/edit?id={nacionalidad.Id}")">Editar</a> |
        <a href="@($"nacionalidads/details?id={nacionalidad.Id}")">Detalles</a> |
        <a href="@($"nacionalidads/delete?id={nacionalidad.Id}")">Eliminar</a>
    </TemplateColumn>
</QuickGrid>
<Paginator State="pagination" />

@code {
    private AppDbContext context = default!;

    private PaginationState pagination = new PaginationState { ItemsPerPage = 10 };

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
