@page "/ocupacions"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using TareaFinal.Modelos
@implements IAsyncDisposable
@inject IDbContextFactory<TareaFinal.Modelos.AppDbContext> DbFactory
@rendermode InteractiveServer


<PageTitle>Listado de Ocupaciones</PageTitle>
<h2 class="centrar"><b>Listado de Ocupaciones</b></h2>

<p>
    <a class="btn btn-warning" href="ocupacions/create">
        <i class="fa-solid fa-plus"> </i>
        Crear Ocupación
    </a>
</p>

<QuickGrid Class="table" Items="context.Ocupacion.Where(m => m.Inactivo == false)" Pagination="pagination">
    <PropertyColumn Property="ocupacion => ocupacion.Nombre" />
    @*<PropertyColumn Property="ocupacion => ocupacion.Inactivo" />*@

    <TemplateColumn Context="ocupacion">
        <a href="@($"ocupacions/edit?id={ocupacion.Id}")">Editar</a> |
        <a href="@($"ocupacions/details?id={ocupacion.Id}")">Detalles</a> |
        <a href="@($"ocupacions/delete?id={ocupacion.Id}")">Eliminar</a>
    </TemplateColumn>
</QuickGrid>
<Paginator State="pagination" />

@code {
    private AppDbContext context = default!;

    private PaginationState pagination = new PaginationState { ItemsPerPage = 10 };

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
