@page "/ars/delete"
@using Microsoft.EntityFrameworkCore
@using TareaFinal.Modelos
@inject IDbContextFactory<TareaFinal.Modelos.AppDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Eliminar</PageTitle>
<h2 class="centrar"><b>¿Está seguro que desea eliminar esta información?</b></h2>

<div>
    <hr />
    @if (ars is null)
    {
        <p><em>Cargando...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Nombre</dt>
            <dd class="col-sm-10">@ars.Nombre</dd>
        </dl>
        
        <EditForm method="post" Model="ars" OnValidSubmit="DeleteARS" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(ars is null)">Eliminar</button> |
            <a href="/ars" class="btn btn-primary">Volver al Listado</a>
        </EditForm>
    }
</div>

@code {
    private ARS? ars;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        ars = await context.ARS.FirstOrDefaultAsync(m => m.Id == Id && m.Inactivo == false);

        if (ars is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeleteARS()
    {
        using var context = DbFactory.CreateDbContext();
        try
        {
            if (ars is not null)
            {
                ars.Inactivo = true;
                context.Attach(ars!).State = EntityState.Modified;
            }
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (ars is null)
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }
        
        NavigationManager.NavigateTo("/ars");
    }
}
