@page "/ars"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using TareaFinal.Modelos
@implements IAsyncDisposable
@inject IDbContextFactory<TareaFinal.Modelos.AppDbContext> DbFactory
@rendermode InteractiveServer


<PageTitle>Listado de ARSs</PageTitle>
<h2 class="centrar"><b>Listado de ARSs</b></h2>


<p>
    <a class="btn btn-warning" href="ars/create">
        <i class="fa-solid fa-plus"> </i>
        Crear ARS
    </a>
</p>

<QuickGrid Class="table" Items="context.ARS.Where(m => m.Inactivo == false)" Pagination="pagination">
    <PropertyColumn Property="ars => ars.Nombre" />
     @*
    <PropertyColumn Property="ars => ars.Inactivo" />
    *@

    <TemplateColumn Context="ars">
        <a href="@($"ars/edit?id={ars.Id}")">Editar</a> |
        <a href="@($"ars/details?id={ars.Id}")">Detalles</a> |
        <a href="@($"ars/delete?id={ars.Id}")">Eliminar</a>
    </TemplateColumn>
</QuickGrid>
<Paginator State="pagination" />


@code {
    private AppDbContext context = default!;

    private PaginationState pagination = new PaginationState { ItemsPerPage = 10 };

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
