@page "/profesors"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using TareaFinal.Modelos
@implements IAsyncDisposable
@inject IDbContextFactory<TareaFinal.Modelos.AppDbContext> DbFactory
@rendermode InteractiveServer

<PageTitle>Listado de Profesores</PageTitle>
<h2 class="centrar"><b>Listado de Profesores</b></h2>


<p>
    <a class="btn btn-warning" href="profesors/create">
        <i class="fa-solid fa-plus"> </i>
        Crear Profesor
    </a>
</p>

<QuickGrid Class="table" Items="context.Profesor.Where(m => m.Inactivo == false)" Pagination="pagination">
    <PropertyColumn Property="profesor => profesor.Cedula" Title="Cédula" Sortable="true" />
    <PropertyColumn Property="profesor => profesor.FechaIngreso" Title="Fecha ingreso" Sortable="true" />
    <PropertyColumn Property="profesor => profesor.Nombre" Title="Nombre" Sortable="true" />
    <PropertyColumn Property="profesor => profesor.Apellido" Title="Apellido" Sortable="true" />
    <PropertyColumn Property="profesor => profesor.Nacionalidad" />
    

    @*<PropertyColumn Property="profesor => profesor.Codigo" Title="Código" Sortable="true" />
    <PropertyColumn Property="profesor => profesor.FechaNacimiento" /> 
    <PropertyColumn Property="profesor => profesor.Sexo" />
    <PropertyColumn Property="profesor => profesor.EstadoCivil" />
    <PropertyColumn Property="profesor => profesor.Ocupacion" />
    <PropertyColumn Property="profesor => profesor.TipoSangre" />
    <PropertyColumn Property="profesor => profesor.Religion" />
    <PropertyColumn Property="profesor => profesor.Telefono" Title="Teléfono" Sortable="true" />
    <PropertyColumn Property="profesor => profesor.Email" />
    <PropertyColumn Property="profesor => profesor.Direccion" />
    <PropertyColumn Property="profesor => profesor.Facultad" Title="Facultad" Sortable="true" />
    <PropertyColumn Property="profesor => profesor.TituloGradoAlcanzado" />
    <PropertyColumn Property="profesor => profesor.GradoAcademicoAlcanzado" />
    <PropertyColumn Property="profesor => profesor.CategoriaProfesional" />
    <PropertyColumn Property="profesor => profesor.Observaciones" />
    <PropertyColumn Property="profesor => profesor.Inactivo" Title="Inactivo" Sortable="true" />*@

    <TemplateColumn Context="profesor">
        <a href="@($"profesors/edit?id={profesor.Id}")">
            <i class="fa-solid fa-pen-to-square"></i>
        </a> |
        <a href="@($"profesors/details?id={profesor.Id}")">
            <i class="fa-solid fa-circle-info"></i>
        </a> |
        <a href="@($"profesors/delete?id={profesor.Id}")">
            <i class="fa-solid fa-trash" style="color:red"></i>
        </a>
    </TemplateColumn>
</QuickGrid>
<Paginator State="pagination" />

@code {
    private AppDbContext context = default!;

    private PaginationState pagination = new PaginationState { ItemsPerPage = 10 };

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
