@page "/"

<PageTitle>Inicio</PageTitle>

<h1>Bienvenido</h1>
<h1>Lenguaje de Programación III</h1>
<h2>Tarea Integrar Bootstrap Formularios al Proyecto Web App</h2> <br />

<h5>Universidad Autónoma de Santo Domingo</h5
<h5>San Francisco de Macorís</h5>
<h5>Escuela de Sistemas</h5> <br />

<h5>Nombre: Luismarc Polanco Sánchez</h5>
<h5>Matrícula: 100599434</h5>
